@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: #ffffff;
    --slate300: #d5e1ef;
    --slate500: #68778d;
    --slate900: #1f314f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: 400;
    color: var(--slate900);
    background-color: var(--slate300);
}

.container {
    width: 20em;
    margin: 0 auto;
    padding: 16px 16px 40px;
    text-align: center;
    background-color: var(--white);
    border-radius: 20px;
}

.container > img {
    width: 100%;
    border-radius: 10px;
}

.container > h1,
.container > p {
    padding: 0 16px;
}

.container > h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    margin: 24px 0 16px;
}

.container > p {
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 140%;
    color: var(--slate500);
}